@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kaushan+Script&family=Lato:ital,wght@1,900&family=Playfair+Display:ital@0;1&family=Rubik+Spray+Paint&family=Rubik+Vinyl&display=swap');

.footer {
    /* border-radius: 10px 10px 0px 0px; */
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 70px;
    /* background-color: #2e8dc4; */
    /* background: linear-gradient(to right, #06beb6, #48b1bf); */
    /* background: linear-gradient(to right, #1c92d2, #f2fcfe); */
    /* background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59); */
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    /* animation: gradient 5s ease infinite; */
    /* background: linear-gradient(293deg, #1cc9db, #0be858); */
    /* animation: AnimationName 3s ease infinite; */
    /* background: linear-gradient(64deg, #1cc9db, #0be858); */
    /* animation: AnimationName 0s ease infinite; */
    background: linear-gradient(to right, #5433ff, #20bdff, #a5fecb);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Playfair Display', serif;
    font-weight: bolder;


}

.footer ul li {
    list-style: none;
    padding: 5px;

}

.footer ul li a {
    text-decoration: none;
    color: white;
    transition: .1s ease-in-out;
}

.footer ul li a:hover {
    color: rgb(255, 0, 98);
    padding: 1px;

}

.footer h2 {
    color: white;
    border-bottom: 2px solid white;
    padding: 1px;
    border-width: 1px;




}

.copy {
    /* background-color: #2e8dc4; */
    /* background: linear-gradient(64deg, #1cc9db, #0be858); */
    /* animation: AnimationName 0s ease infinite; */
    background: linear-gradient(to right, #5433ff, #20bdff, #a5fecb);
    margin-top: 3px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(254, 255, 255);
}

.copy img {
    width: 90px;
}

@media screen and (max-width: 500px) {
    footer {
        font-size: 10px;
    }
}